.quran-ayat__container {
  max-width: 800px;
  margin: 3rem auto;
  border-radius: 1rem;
}

.quran-ayat__headerWrapper {
  margin: auto;
  padding: 1rem;
}

.quran-ayat__headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  border-bottom: 1px solid #333;
  gap: .25rem;
  color: #333;
}

.quran-ayat__headerTagline {
  font-size: 15px;
}

.quran-ayat__headerButtonContainer {
  display: flex;
  gap: .5rem;
}

.quran-ayat__headerButton {
  display: block;
  padding: .25rem .5rem;
  border-radius: none;
  border: 1px solid #333;
  background: none;
  cursor: pointer;
  font-weight: 600;
}

.quran-ayat__headerButton:hover {
  color: #155e70;
  border: 1px solid #155e70;
}


.quran-ayat__itemWrapper {
  max-width: 800px;
  margin: auto;
  padding-bottom: 3rem;
}

.quran-ayat__itemContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.quran-ayat__noAyat {
  font-weight: 600;
  font-size: 14px;
}

.quran-ayat__button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.quran-ayat__arabicContainer {
  text-align: right;
}

.quran-ayat__arabic {
  color: #333;
}

.quran-ayat__button:hover .quran-ayat__arabic {
  color: #155e70;
}

.playing {
  color: #155e70;
  border-color: #155e70;
}

.quran-ayat__arti {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.quran-ayat__border {
  border-bottom: 1px solid #222;
  margin-top: .5rem;
}

@media (min-width: 800px) {
  .quran-ayat__headerWrapper {
    max-width: 800px;
  }

  .quran-ayat__container {
    border: 1px solid #333;
  }
}

@media (max-width: 400px) {
  .quran-ayat__itemContainer {
    padding: .5rem;
  }
}