.quran-tafsir__headerWrapper {
  margin: auto;
  padding: 1rem;
  max-width: 800px;
}

.quran-tafsir__headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  border-bottom: 1px solid #333;
  gap: .25rem;
  color: #333;
}

.quran-tafsir__headerTagline {
  font-size: 15px;
}

.quran-tafsir__headerButtonContainer {
  display: flex;
  gap: .5rem;
}

.quran-tafsir__headerButton {
  display: block;
  padding: .25rem .5rem;
  border-radius: none;
  border: 1px solid #333;
  background: none;
  cursor: pointer;
  font-weight: 600;
}

.quran-tafsir__headerButton:hover {
  color: #155e70;
  border: 1px solid #155e70;
}

.quran-tafsir__itemContainer {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 800px;
  margin: auto;
}

.quran-tafsir__textNumber {
  margin-bottom: 2rem;
  font-weight: 600;
}

.quran-tafsir__text {
  white-space: pre-wrap;
  font-size: 14px;
  margin-bottom: 2rem;
}

.quran-tafsir__line {
  display: block;
  border-bottom: 1px solid #333;
}