@import url('./pages/quran-surah.css');
@import url('./pages/quran-ayat.css');
@import url('./pages/quran-tafsir.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ddd;
}

a {
  text-decoration: none;
}

.quran-app__footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #333;
  background-color: #333;
}

.quran-app__footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  color: #fdfdfd;
}

p .footer-heart {
  color: rgb(226, 53, 53);
}